.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .gallery-item {
    text-align: center;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    height: 300px; /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio and crop */
  }
  
